<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ответ Сервера</title>
</head>
<link rel="stylesheet" href="styles.css">
<body>
<h1>ПРИВЕТ</h1>
<h4 th:text="${user1}"></h4>
<h4 th:text="${user2}"></h4>
<h4 th:text="${user3}"></h4>
<h4 th:text="${user4}"></h4>
<h1>ВЫБЕРИ КУДА ИДТИ ДАЛЬШЕ?</h1>
<button onclick="window.open('../read', '_self')">/read @Secured("ROLE_READ")</button>
<button onclick="window.open('../hello', '_self')">/hello @RolesAllowed({"ROLE_WRITE", "ROLE_READ"})</button>
<button onclick="window.open('../write', '_self')">/write @PreAuthorize("hasRole('ROLE_WRITE')")</button>
<button onclick="window.open('../write-delete', '_self')">/write-delete @PreAuthorize("hasAnyRole('ROLE_DELETE','ROLE_WRITE')"))</button>
<button onclick="window.open('../what-is-your-name', '_self')">/whatisyourname @PreAuthorize("isAuthenticated()"))</button>
<img src="favicon.ico" alt="Здесь изображение" style="height:100px;width:100px">
<button style="font-size:30px"
        onclick="window.open('../logout', '_self')">LOGOUT</button>
</body>
</html>